body {
    font-size: 16px;
}
.listStyleNone{
    list-style-type: none;
}
.blueColor {
  color: #2196f3;    
}
.lightDarkColor {
    color: #b1b1b1;
}
.yellowColor{
    color:#ffeb3b
}
.darkbg {
    background-color: #424242;
}
.darkestbg {
    background-color: #000;
}
.lightDarkBg{
  background-color: rgba(255,255,255,0.05);
}
.shadowSm{
    box-shadow: 0 .125rem .35rem rgba(0,0,0,0.5)!important;
}
.smallFont {
    font-size: 0.8rem;
}
.table thead th {
  border: none;
}
.table td {
    border-top: 1px solid #8f8f8f;
}
/*//////////////////////////*/
.navLink,
.logoLink {
    cursor: pointer;
    padding: 15px 15px;
    font-size: 1.1rem;
}
.navLink:hover {
    color: #90c4ee;
}
.navLink.selected {
    color: #2196f3;
    border-bottom: 3px solid #2196f3;
    padding-bottom: 12px;
}
.logoLink{
    color: #fff;
    padding-left: 0;
}

.metaMaskBtn{
    letter-spacing: 0.05rem;
    font-size: 0.7rem;
    background: #ff9800;
}


.card1 {
    border-bottom: 2px solid #2196f3;
}
.card2 {
    border-bottom: 2px solid #8f8f8f;
}